@import '../variables';

.header {
  border-bottom: 1.5px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1020px) {
      flex-direction: column;

      .header__cart {
        margin-top: 20px;
      }
    }
  }

  &__logo {
    display: flex;

    @media (max-width: 1020px) {
      margin-bottom: 22px;
    }
  }
}
